h1 Home#index
p Find me in app/views/home/index.html.slim
button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="Popover title" data-bs-content="And here's some amazing content. It's very engaging. Right?" Click to toggle popover
button type="button" class="btn btn-lg btn-success" data-bs-toggle="popover" data-bs-title="Success Popover" data-bs-content="And here's some amazing content. It's very engaging. Right?" Click to pop
